<div class="px-4 sm:px-6 lg:px-8 py-8">
  <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

  <app-listing-page-header
    title="Forums"
    description="Manage forums in your organization"
    actionLabel="Add Forum"
    actionAccessEntity="forum"
    actionAccessAction="create"
    (actionClick)="onAddForum()">
  </app-listing-page-header>

  <div class="mt-8">
    <app-datatable
      [config]="tableConfig"
      [data]="forumData()"
      [loading]="loading()"
      (searchChange)="onSearchChange($event)">
    </app-datatable>
  </div>
</div>

<!-- Forum Form Modal -->
<app-forum-form
  [open]="showForumForm()"
  [forumId]="selectedForumId()"
  (openChange)="showForumForm.set($event)"
  (saved)="onForumSaved()"
  (cancelled)="onForumFormCancelled()">
</app-forum-form>
