<div class="flex h-screen bg-gray-50 dark:bg-gray-950">
  <!-- Sidebar -->
  <app-sidebar 
    [expanded]="sidebarExpanded()"
    [mobileOpen]="mobileSidebarOpen()"
    (expandedChange)="onSidebarExpandedChange($event)"
    (mobileClose)="onMobileSidebarClose()" />
  
  <!-- Mobile Sidebar -->
  @if (mobileSidebarOpen()) {
    <app-sidebar 
      [expanded]="true"
      [mobileOpen]="true"
      (expandedChange)="onSidebarExpandedChange($event)"
      (mobileClose)="onMobileSidebarClose()" />
  }
  
  <!-- Main Content Area -->
  <div class="flex-1 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <app-header 
      [pageTitle]="pageTitle()"
      (menuToggle)="onMenuToggle()" />
    
    <!-- Page Content -->
    <main class="flex-1 overflow-auto bg-white dark:bg-gray-900">
      <div class="p-6">
        <router-outlet />
      </div>
    </main>
  </div>
</div>

<!-- Mobile Overlay -->
@if (mobileSidebarOpen()) {
  <div 
    class="fixed inset-0 bg-black/50 z-40 lg:hidden"
    (click)="onMobileSidebarClose()">
  </div>
}

<app-toast-container></app-toast-container>

