/* Datatable styles */
:host { display: block; }

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

table {
  border-collapse: collapse;
}

a.disabled {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
}